In [6]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle
import os

In [7]:

# Load the dataset
df = pd.read_csv(r'C:\Users\user\Desktop\top10K-TMDB-movies.csv')

In [12]:
# Display dataset info
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB
None
      id                        title                 genre original_language  \
0    278     The Shawshank Redemption           Drama,Crime                en
1  19404  Dilwale Dulhania Le Jayenge  Comedy,Drama,Romance                hi
2    238                The Godfather           Drama,Crime                en
3    424             Schindler's List     Drama,History,War                en
4    240       The Godfather: Part II           Drama,Crime                en

                                            overview  popularity release_date  \
0  Framed in the 1940s for the double murder of h...      94.075   1994-09-23
1  Raj is a rich, carefree, happy-go-lucky second...      25.408   1995-10-19
2  Spanning the years 1945 to 1955, a chronicle o...      90.585   1972-03-14
3  The true story of how businessman Oskar Schind...      44.761   1993-12-15
4  In the continuing saga of the Corleone crime f...      57.749   1974-12-20

   vote_average  vote_count
0           8.7       21862
1           8.7        3731
2           8.7       16280
3           8.6       12959
4           8.6        9811

In [14]:
# Combine relevant features for recommendations
df['combined_features'] = df['genre'] + ' ' + df['title'] + ' ' + df['overview']
print("\nCombined Features Example:")
print(df['combined_features'].head())

Combined Features Example:
0    Drama,Crime The Shawshank Redemption Framed in...
1    Comedy,Drama,Romance Dilwale Dulhania Le Jayen...
2    Drama,Crime The Godfather Spanning the years 1...
3    Drama,History,War Schindler's List The true st...
4    Drama,Crime The Godfather: Part II In the cont...
Name: combined_features, dtype: object

In [18]:
df['genre'] = df['genre'].fillna("")
df['title'] = df['title'].fillna("")
df['overview'] = df['overview'].fillna("")

# Combine relevant features
df['combined_features'] = df['genre'] + ' ' + df['title'] + ' ' + df['overview']

# Check for empty dataset
if df.shape[0] == 0:
    raise ValueError("Dataset is empty. Please check the data.")

# Create the count matrix
cv = CountVectorizer(stop_words='english')
count_matrix = cv.fit_transform(df['combined_features'])

In [20]:
cosine_sim = cosine_similarity(count_matrix)

In [ ]:
# Save the similarity matrix
with open('dataset/similarity.pkl', 'wb') as file:
    pickle.dump(cosine_sim, file)

In [ ]:
print("Similarity matrix saved successfully!")